/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Tw Cen MT Condensed';
  src: url('/assets/fonts/Tw Cen MT Condensed.ttf');
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/assets/fonts/Segoe UI.ttf');
}

@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/Segoe UI Bold.ttf");
  font-weight: bold;
}

.btn-primary, .btn-primary:hover {
  background-color: #1CADE4;
  border: 0;
}

.btn-secondary, .btn-secondary:hover {
  background-color: #fff;
  border: 1px solid #1CADE4;
  color: #1CADE4;
}
