<div class="container-fluid">

  <app-loader *ngIf="isLoading"></app-loader>

  <div class="panel">
    <h4>Run 3. Tasks</h4>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>
          <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
             target="_blank"
             href="https://www.codewars.com/kata/{{task.id}}/train/javascript">{{task.name}}</a>
        </td>
        <td>{{task.points}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="add-users-panel row g-3">
    <div class="col-5">
      <div class="input-group mb-3">
        <span class="input-group-text" id="add-users">Add users:</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="add-users" name="userName" [(ngModel)]="userNames">
      </div>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary mb-3" (click)="addUsers()">Add</button>
    </div>
    <div class="col-1">
      <button *ngIf="usersCount > 0 && sliceEnd < usersCount"
              type="button" class="btn btn-primary float-end" (click)="showAll()">Show all
      </button>
    </div>
  </div>

  <div class="leaderboard">
    <h4 class="leaderboard-header">JS Coding Challenge<br/>Leaderboard</h4>

    <table class="table">
      <thead class="leaderboard-table-header">
      <tr>
        <th scope="col">Place</th>
        <th scope="col"></th>
        <th scope="col" class="align-left">Name</th>
        <th scope="col" class="align-left">Nickname</th>
        <th *ngFor="let task of tasks; let i = index">
          Task {{i + 1}}
        </th>
        <th scope="col">Prev runs</th>
        <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody class="leaderboard-table-body" *ngIf="isLoading">
      <tr *ngFor="let user of users | slice:0:sliceEnd; let i = index"
          [ngClass]="{'place-1':i === 0, 'place-2':i === 1, 'place-3':i === 2}">
        <td>{{i + 1}}</td>
        <td class="avatar-col">
          <img src="/assets/avatars/default.jpg" alt="avatar">
        </td>
        <td class="align-left">...</td>
        <td class="align-left">...</td>
        <td *ngFor="let task of user.tasks">-</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>

      <tbody class="leaderboard-table-body" *ngIf="!isLoading">
      <tr *ngFor="let user of users | slice:0:sliceEnd"
          [ngClass]="{'place-1':user.place === 1, 'place-2':user.place === 2, 'place-3':user.place === 3}">
        <td>{{user.place}}</td>
        <td class="avatar-col">
          <img src="/assets/avatars/{{user.nickname}}.jpg" alt="avatar"
               onerror="this.src='/assets/avatars/default.jpg';">
        </td>
        <td class="align-left">
          <a target="_blank"
             href="https://telescope.epam.com/who/{{user.name}}">{{user.name}}</a>
        </td>
        <td class="align-left">{{user.nickname}}</td>
        <td *ngFor="let task of user.tasks">
          {{task.points ? task.points : '-'}}
          <span>{{task.fastestSolution ? '+ 5' : ''}}</span>
          <div *ngIf="task.fastestSolution" class="fastest-solution">
            <div class="fastest-solution-icon"></div>
            <span>{{task.completedAt | date:'medium'}}</span>
          </div>
        </td>
        <td>{{user.prevPoints}}</td>
        <td>{{user.total}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
